/venv
/process_dataset/dataset
/llama.cpp
/rag_model/database
/training_model/dataset
.env
__pycache__/
/base_models
chatbot/database
model/
rlhf/data_prep/dataset
training_model/dataset
models/
unsloth_compiled_cache/